{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hospital Básico del Oro </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="{% static 'lib/dentcare/img/favicon.ico' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="{% static 'lib/dentcare/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/dentcare/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'lib/fontawesome/css/fontawesome.css' %}" rel="stylesheet">
    <link href="{% static 'lib/fontawesome/css/brands.css' %}" rel="stylesheet">
    <link href="{% static 'lib/fontawesome/css/solid.css' %}" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/dentcare/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/dentcare/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/dentcare/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />
    <link href="{% static 'lib/dentcare/lib/twentytwenty/twentytwenty.css' %}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'lib/dentcare/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'lib/dentcare/css/style.css' %}" rel="stylesheet">
</head>
<body>
{% block content %}

{% endblock %}
</body>

 <!-- JavaScript Libraries -->
    <script src="{% static 'lib/dentcare/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'lib/dentcare/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'lib/dentcare/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/dentcare/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/dentcare/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/dentcare/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/dentcare/lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/dentcare/lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/dentcare/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <script src="{% static 'lib/dentcare/lib/twentytwenty/jquery.event.move.js' %}"></script>
    <script src="{% static 'lib/dentcare/lib/twentytwenty/jquery.twentytwenty.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'lib/dentcare/js/main.js' %}"></script>
    {% block JSextra %}
    {% endblock %}
</html>