{% extends 'homePaciente.html' %}
{% load static %}
{% load widget_tweaks %}
{% block contentPa %}

    <div class="container-fluid px-1 py-5 mx-auto ">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-4 col-lg-2 col-md-5 col-11 text-center">
                <div class="card ">
                    <div class="row " >
                       <h3>Agenda una Cita</h3>
                    </div>

                 <form method="POST" class="form-card" >
                    {% csrf_token %}
                   <div class="row justify-content-between text-left">
                       <div class="form-group  flex-column d-flex">
                       <label class="form-control-label  px-3" for="esp_medic"> Disponibilidad </label>
                         {{ form.esp_medic|add_class:'form-control'}}
                       </div>
                   </div>
                   <div class="row justify-content-between text-left">
                       <div class="form-group col-md-12  flex-column d-flex">
                       <label class="form-control-label  px-3" for="fecha_cita"> Fecha Cita </label>
                       <input id="fecha_cita" type="text" name="fecha_cita" >
                       </div>
                   </div>
                   <div class="row justify-content-between text-left">
                       <div class="form-group   flex-column d-flex">
                       <label for="motivo"> Motivo </label>
                       {{ form.motivo|add_class:'form-control' }}
                       </div>
                   </div>

                   <div class="row justify-content-end">
                       <div class="form-group  ">
                        <button type="submit" class="btn btn alert-danger" > Aceptar </button>
                        <button class="btn btn badge-success" > <a href="{% url 'citas:lista_citas' %}">Volver </a> </button>
                        </div>
                   </div>


                </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block JSextra %}
    <script>


    $(function() {
    $('input[name="fecha_cita"]').daterangepicker({
    "singleDatePicker": true,
    "startDate": "01/25/2022",
    "endDate": "12/01/2022",
    "minDate": "01/30/2022",
    "opens": "center"
    }, function(start, end, label) {
    console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
    });
    });
    </script>

    <script type="text/javascript" src="{% static 'lib/daterangepicker-master/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/daterangepicker-master/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/daterangepicker-master/daterangepicker.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'lib/daterangepicker-master/daterangepicker.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <link href="{% static 'lib/select2/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2/js/i18n/es.js' %}"></script>

{% endblock %}