{% extends 'admi/lista_admi.html' %}

    {% block colums %}
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Ultima Fecha de Inicio</th>
            <th>Opciones</th>

        </tr>
    {% endblock %}

    {% block rows %}
        {% for user in object_list %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email}}</td>
        <td>{{ user.last_login}}</td>
        <td>
        <a href="{% url 'admi:editar_usuario' user.id %}" class="btn btn-warning btn-xs btn-flat"><i class="fas fa-edit"></i></a>
        <a href="{% url 'admi:eliminar_usuario' user.id %}" type="button" class="btn btn-danger btn-xs btn-flat"><i class="fas fa-trash-alt"></i></a>
        </td>

    </tr>
        {% endfor %}
    {% endblock %}