{% extends 'admi/lista_admi.html' %}

    {% block colums %}
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Opciones</th>

        </tr>
    {% endblock %}

    {% block rows %}
        {% for espe in object_list %}
    <tr>
        <td>{{ espe.id }}</td>
        <td>{{ espe.nombre_esp }}</td>
        <td>{{ espe.descrip}}</td>
        <td>
        <a href="{% url 'admi:editar_espe' espe.id %}" class="btn btn-warning btn-xs btn-flat"><i class="fas fa-edit"></i></a>
        <a href="{% url 'admi:eliminar_espe' espe.id %}" type="button" class="btn btn-danger btn-xs btn-flat"><i class="fas fa-trash-alt"></i></a>
        </td>

    </tr>
        {% endfor %}
    {% endblock %}